@import 'mixins';
@import 'variables';

.producteurs{
  flex: 1;
  min-height: 65vh;
  &__header {
		@include flex-center(); 
		flex-direction: column;
		background-image: url('../../images/prods-header.jpg');
		background-position: left bottom;
		height: 300px;
		background-size: cover;
	  color: $offwhite; 
	  font-size: 1.2rem;
		h1{
	    font-size: 3rem;
	    margin-bottom: 20px;
		}
  }
}

@media(max-width: $phone){
	.producteurs{
		background-color: $primary;
		overflow: hidden;
	}
}
