@import 'mixins';

.App{
    min-width: 100vw;
    min-height: 100vh;
    @include flex-center();
    flex-direction: column;
    margin: 0;
    padding: 0;
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
    list-style: circle;
  li {
    text-indent: 3mm;
  }
  .ql-indent-2 {
    text-indent: 6mm;
  }
  ul {
    list-style: square;
  }
  ol {
    list-style-type: decimal;
  }
}

.page{
    flex: 1;
    width: 100%;
}
