@import 'mixins';
@import 'variables';

.home{
    height: 65vh;
    width: 100vw;
    background-image: url(../../images/leave.webp);
    background-size: cover;
    @include flex-center();
    &__text{
	color: $offwhite;
	@include flex-center();
	flex-direction: column;
	text-align: center;
	font-size: 1.2rem;
	&-big{
	    font-size: 4rem;
	    margin-bottom: 20px;
	}
    }
}
